a:link{color:00c7ff}
a:visited{color:00495e}
a:hover{color:red}
a:active{color:ffd632}
h3{font-size:30px;font-family:Arial, Times New Roman }
body{color:white; background-color:black;margin-left: 20px}
section{font-size:22px;margin-left: 10px}
header {text-align:center;}
li{background-color: rgb(190, 200, 200); color: black;display: inline-block;padding-left: 5px;padding-right: 10px;padding-bottom: 1px;border-radius: 5px}
footer {}
ul{}
img{}
link{}
