label.datos{
	display: inline-block;
	width: 120px;
}
#texto{
	display: inline-block;
	width: 120px;
	float:left;
}
#mensaje
{
	display: inline-block;
	width: 270px;
	height: 200px;
	float:left;
}
fieldset
{
	border-style: double;
}