.titulo {
	width:99.6%;
	height:20%;
	border-bottom:none;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.menu {
	float:left;
	width:20%;
	height:auto;
	border-top:none;
	border-right:none;
	border-bottom:none;
}
.mainContent {
	float:left;
	width:79.6%;
	height:auto;
	background-color:#bccccc;
	border-top:none;
	border-left:none;
	border-bottom:none;
}
footer {
	border-style: solid;
	border-right-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 2px;
	border-color:#413f3f;
	border-right-color: #7c7878;
    display:block;
    background-color:#cccccc;
    padding:10px 0px;
	text-align:center;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color:white;
}
